<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/internt-layout.html :: 'head' "></head>
<body id="page-top">
	<header th:replace="layouts/internt-layout.html :: 'header' "></header>
	<br>
	<br>
	<br>
	<br>
	
	<div class="alert alert-success" th:if="${success!=null}" th:text="${success}"></div>
	<div class="alert alert-danger" th:if="${danger!=null}" th:text="${error}"></div>
	<div class="alert alert-warning" th:if="${warning!=null}" th:text="${warning}"></div>
	<div class="alert alert-info" th:if="${info!=null}" th:text="${info}"></div>
	
	<div class="container">
		<h1 th:text="${titulo}"></h1>
		<div class="form-group">
			<div class="container">
				<!-- <button class="btn btn-primary"
					onclick="AbrirModalRegistroProducto()">
					<i class="fa fa-plus"></i>&nbsp;Agregar Producto
				</button>-->
			</div>
		</div>

		<table class="table" id="tableProducts">
			<thead class="thead-dark">
				<tr>
					<th>Cédula</th>
					<th>Nombres y Apellidos</th>
					<th>Email</th>
					<th>Teléfono</th>
					<th>Dirección</th>
					<th>Facturas</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer : ${customers}">
					<td th:text="${customer.document_customer}"></td>
					<td th:text="${customer.names_customer}+' '+${customer.lastnames_customer}"></td>
					<td th:text="${customer.email_customer}"></td>
					<td th:text="${customer.phone_customer}"></td>
					<td th:text="${customer.address_customer}"></td>
					<td>
						<a class="btn btn-success" th:href="@{/fact-cliente/}+${customer.id_customer}">Ver Facturas</a>
					</td>
				</tr>
			</tbody>
		</table>

	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Third party plugin JS-->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

	<!-- <script th:replace="store/js/product :: product-script"></script> -->


</body>
<footer th:replace="layouts/internt-layout.html :: 'footer' "></footer>
</html>