<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function(){
		
			$("#buscar_cliente").autocomplete({
				source: function(request,response){
					$.ajax({
						url:"https://espe-2021-banquito.herokuapp.com/api/v1/clients?searchParameter=" + request.term,
						dataType: "json",
						success: function(data){
							response($.map(data, function(item){
								return{
									value: item.id,
									label: item.name + " " +item.lastname + " ( identificación: " + item.numIdentification + ", correo:" + item.email +   ")",
									correo: item.email,
									telefono: "0985118730",
									address: "Av. Siempre Vive",
									code: item.id,
									identification: item.numIdentification,
									names: item.name + " " +item.lastname
								};
						}));
					},
				});
			},
			select: function(event,ui){
				$("#buscar_cliente").val(ui.item.label);
				console.log(ui.item.code)
				 document.getElementById("customerId").value = ui.item.code
				$("#customerId").val(ui.item.code);
				$("#names_costumer").val(ui.item.names);
				$("#document_costumer").val(ui.item.identification);
				$("#email_costumer").val(ui.item.correo);
				$("#phone_costumer").val(ui.item.telefono);
				$("#address_costumer").val(ui.item.address);
				
				return false;
			}
		});
	});
	</script>

</body>
</html>