<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(function(){
		
			$("#buscar_producto").autocomplete({
				source: function(request,response){
					$.ajax({
						url:"/cargar-producto/" + request.term,
						dataType: "json",
						data: {
							term: request.term
						},
						success: function(data){
							response($.map(data, function(item){
								return{
									value: item.code_product,
									label: item.name_product,
									price: item.price_product,
								};
						}));
					},
				});
			},
			select: function(event,ui){
				$("#buscar_producto").val(ui.item.label);
				
				if(itemsHelper.hasProducto(ui.item.value)){
					itemsHelper.incrementarCantidad(ui.item.value,ui.item.price);
					return false;
				}
				
				var linea = $("#plantillaItemsFactura").html();
				
				linea = linea.replace(/{CODE_PRODUCT}/g, ui.item.value);
				linea = linea.replace(/{NAME_PRODUCT}/g, ui.item.label);
				linea = linea.replace(/{PRICE_PRODUCT}/g, ui.item.price);
				
				$("#cargarItemProductos tbody").append(linea);				
				
				itemsHelper.calcularImporte(ui.item.value,ui.item.price,1)
				return false;
			}
		});
		$("form").submit(function(){
			$("#plantillaItemsFactura").remove();
			return;
		});
	});
	
	var itemsHelper = {
		calcularImporte: function(id, precio, cantidad){
			$("#total_importe_"+id).html(parseFloat(precio)*parseInt(cantidad));
			this.calcularGranTotal();
		},
		hasProducto: function(id){
			var resultado = false;
			$('input[name="item_code_product[]"]').each(function(){
				if(parseInt(id) == parseInt($(this).val())){
					resultado = true;
				}
			});
			return resultado;
		},
		incrementarCantidad: function(id, precio){
			var cantidad = $("#cantidad_"+id).val() ? parseInt($("#cantidad_"+id).val()) :0;
			$("#cantidad_"+id).val(++cantidad);
			this.calcularImporte(id,precio,cantidad);
		},
		eliminarLineaFactura: function(id){
			$("#row_"+id).remove();
			this.calcularGranTotal();
		},
		calcularGranTotal: function(){
	        var total = 0;
	        $('span[id^="total_importe_"]').each(function(){
	            total += parseFloat($(this).html());
	        });
	        $('#gran_total').html(total);
    	}
	}
	</script>

</body>
</html>