<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layouts/internt-layout.html :: 'head' ">

</head>
<body id="page-top">
	<header th:replace="layouts/internt-layout.html :: 'header' "></header>
	<br>
	<br>
	<br>
	<br>

</body>
<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<footer th:replace="layouts/internt-layout.html :: 'footer' "></footer>
</html>